body{
    font-family: Arial, sans-serif;
    margin:0;
    background-color: #f5f5f5;
}

.navbar{
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin:0 10px;
}

.navbar a:hover{
    text-decoration: underline;
}

.footer{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}